body, html {
	font-family: verdana, arial, tahoma, serif;
	font-size: 0.9em;
}
.content-type {
	color: silver;
	padding: 5px;
}
.info {
	color: green;
}
.error {
	color: red;
}
.title {
    font-weight: bold;
    font-size: 1.5em;
}

form {
    /*height: 0em auto;*/
}
dd, dl {
    margin: 0em;
}
#log {
	/*display: none;*/
	position: fixed;
	right: 0px;
	top: 0px;
	width: 400px;
	height: 50px;
	border: 1px solid silver;
	overflow: auto;
}
iframe {
	display: none;
}