@(messages: List[model.Message])
@if(messages != null) {
	<div class="block-header">Most visited <span class="main-count"></span></div>
	<span id="toplinks">
        @for(m <- messages) {
	    <div class="link-item link-item_@m.getId()">
	        <div class="clicks count1_@m.getId()">
	            @m.getClicks()
	        </div>
	        <div class="link-data" style="width: 200px;">
	            <div>
	                <div class="link-item-title">
	                    <a href="javascript:;" onclick="openLink(@m.getId()); return false;" class="name">@m.getTitle()</a> <a href="@m.getUrl()" title="open original url" target="_blank">&raquo;</a>
	                </div>
	                <a href="/search/host/@m.getHostName()" class="link-item-source">@m.getHostName()</a>
	                <span class="timestamp">@m.getTimestamp()</span>
	            </div>
	            
	        </div>
	        <div style="clear: both;">
	        </div>
	    </div>
	    }
	</span>
}