@(myForm: Form[model.Message], list: List[model.Message])
@import helper._
@main("PlayGround") {

    @*
    <form method="post" action="/post">
        <input type="text" name="url"/>
        <input type="submit" value="ok"/>
    </form>
    *@
    
    @form(action = routes.Application.post, 'id -> "form") {
        @inputText(myForm("url"), 'size -> 100, 'placeholder -> "http....", '_label -> "Some URL")
        <input type="submit" value="ok" id="ok" />
        <input type="button" value="okAsync" id="okAsync" />
    }
    
    @*<input type="button" value="comet" id="comet" />*@
    @messages(list)
}
