@(messages: List[model.Message])
@if(messages != null) {
<div class="block-header">
Links by date <span class="main-count"></span> 
<span id="topnavi">

<!-- navi -->
@if(request().getQueryString("p") != null) {
    @if(request().getQueryString("p") != "0") {
        <a href="?p=@{Integer.parseInt(request().getQueryString("p"))-1}">&laquo; Newer</a>
    } else {
        <span class="inactive">&laquo; Newer</span>
    }
    @*Page @{Integer.parseInt(request().getQueryString("p"))+1}*@
    @if(Integer.parseInt(flash.get("total")) <= Integer.parseInt(request().getQueryString("p"))+1) {
        <span class="inactive">Older &raquo;</span>
    } else {
        <a href="?p=@{Integer.parseInt(request().getQueryString("p"))+1}">Older &raquo;</a>
    }        
} else {
   <span class="inactive">&laquo; Newer</span>
   @if(Integer.parseInt(flash.get("total")) > 1) {
    <a href="?p=1">Older &raquo;</a>
   } else {
    <span class="inactive">Older &raquo;</span> 
    }   
}                                
</span>
</div>
<div id="leftPan">
<ul>
@for(m <- messages) {
    @*<li><a class="link" href="/open/@m.getId()" target="_blank">@m.getUrl()</a> <span class="content-type">@m.getContentType()</span> | <a href="@m.getUrl()" target="_blank">original</a></li>*@
    
    
    
    <div class="link-item link-item_@m.getId()">
                      			<div class="clicks count_@m.getId()">@m.getClicks()@*<div><img class="ajax_@m.getId()" style="display:none;" src="images/ajax.gif"></div>*@</div>
                      			<div class="link-data">
                      				<div>
									<div class="link-item-title">
									<a href="#" title="@m.getUrl()" onclick="openLink(@m.getId()); return false;" class="name ">@m.getTitle()</a> <a href="@m.getUrl()" title="open original url" target="_blank">&raquo;</a>
									</div>                   				
									<a href="/search/host/@m.getHostName()" class="link-item-source">@m.getHostName()</a>
									<span class="link-item-teaser">— <span class="descr">@m.getDescription()</span><span class="timestamp">@m.getTimestamp()</span></span>										
                      				</div>
                      				
                      				<div>
	                      				<div class="deps2" >
	                                        <a class="opendeps" parentid="@m.getId()" href="#"><div id="deps_img_@m.getId()" class="left img" ></div><div class="left">show dependencies</div><div class="clear"></div></a>                      				
	                      				</div>
	                                    <div class="tags">
	                                            <span class="tag">  
	                                                @for(tag <- m.getTags()) {
	                                                    <a href="/search/tag/@tag.getId()">@tag.getName()</a>
	                                                }                                            
	                                            </span>                                                                                 
	                                    </div>
	                                    <div class="clear"></div>
                                    </div>
                                    
                                    <div class="deps deps_@m.getId()"></div>
                      			</div>
                      			<div style="clear: both;"></div>
                      		</div>
}
</ul>

<!-- pages -->
</div>
<div id="navi">
Pages:&nbsp;
@for(i <- Http.Context.current().args.get("pages").asInstanceOf[Array[Integer]].indices) {
	 @if(request().getQueryString("p") != null) {
	    @if(Integer.parseInt(request().getQueryString("p")) == i) {
	        <span>@{i+1}</span>    
	    } else {
	        <span><a href="?p=@i">@{i+1}</a></span>
	    }
	 } else {
	    @if(0 == i) {
	        <span>@{i+1}</span>
	    } else {
	        <span><a href="?p=@i">@{i+1}</a></span>
	    }
	 }
}
</div>

}